:host {
  font-family: sans-serif;
  border: 2px solid rgb(12, 75, 168);
  margin: 2rem;
  padding: 1rem;
  display: block;
  width: 20rem;
  max-width: 100%;
}

form input {
  font: inherit;
  color: rgb(0, 0, 0);
  padding: 0.1rem 0.25rem;
  display: block;
  margin-bottom: 0.5rem;
}

form input:focus,
form button:focus {
  outline: none;
}

form button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid rgb(33, 93, 141);
  background: rgb(19, 61, 120);
  color: white;
  cursor: pointer;
}

form button:hover,
form button:active {
  background:rgb(128, 188, 248);
  border-color: rgb(128, 188, 248);
}

form button:disabled {
  background: gray;
  border-color: gray;
  color: white;
  cursor: not-allowed;
}

:host(.error) {
  border-color: red;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(33, 93, 141);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}




